@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400..900&display=swap');


body{
  margin: 0;
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
  background-color: salmon;
  font-family: "Maven Pro", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}